<div class="well well-large widget widget-transparent feed">
  <h3><%= link_to item.title, feed_newsitem_path(item.feed, item) %>
  <a href="<%= item.permalink %>" target="_blank"><span class="glyphicon glyphicon-new-window glyph-sm"></span></a>
  <a href="javascript:void(0)" data-action="toggleRead" data-id="<%= item.id %>" data-feed-id="<%= item.feed.id %>"><span class="glyphicon glyphicon-ok-<%= circle_or_sign(item) %> glyph-sm" data-toggle="tooltip" data-title="<%= set_read_unread(item) %>"></span></a>
</h3>
  <%= render "news_meta", author: item.author, published: item.published %>
  <div class="feed-content">
    <%= (item.summary || '').html_safe %>
  </div>
</div>

