<div class="panel panel-default widget widget-transparent feed">
  <div class="panel-heading">
  <h3><%= link_to item.title, feed_newsitem_path(item.feed, item) %>
  <a href="<%= item.permalink %>" target="_blank"><span class="glyphicon glyphicon-new-window glyph-sm"></span></a>
  <a href="javascript:void(0)" data-on-click="toggleRead" data-id="<%= item.id %>" data-feed-id="<%= item.feed.id %>"><span class="glyphicon glyphicon-ok-<%= circle_or_sign(item) %> glyph-sm" data-toggle="tooltip" title="<%= read_unread(item) %>"></span></a>
</h3>
</div>
  <div class="feed-content panel-body">
  <%= render "news_meta", author: item.author, published: item.published %>
    <%= (item.summary || '').html_safe %>
  </div>
</div>

