{{#each newsitems}}
<div class="panel panel-default widget widget-transparent feed">
    <div class="panel-heading">
      <h3>
      <a href="{{./path}}">{{{./title}}}</a>
      <a href="{{./url}}" target="_blank"><span class="glyphicon glyphicon-new-window glyph-sm" data-toggle="tooltip" title="Go to {{./url}}"></span></a>
      <a href="javascript:void(0)" data-on-click="toggleRead" data-id="{{./id}}" data-feed-id="{{../id}}">
      <span class="glyphicon {{unreadIcon ./unread}} glyph-sm" data-toggle="tooltip" title="Set {{unreadLabel ./unread}}"></span>
      </a>
      </h3>
    </div>
    <div class="feed-content panel-body">
      <div class="text-muted">
        <em>by {{./author}}</em>
        <div class="pull-right">
          <abbr class="timeago" title="{{./published}}">{{readableDate ./published}}</abbr>
        </div>
      </div>
      {{{./summary}}}
    </div>
  </div>
{{/each}}
