{{#each newsitems}}
<div class="panel panel-default widget widget-transparent feed">
    <div class="panel-heading">
      <h3>
      <a href="{{./path}}">{{{./title}}}</a>
      <a href="{{./url}}" target="_blank"><span class="glyphicon glyphicon-new-window glyph-sm" data-toggle="tooltip" data-title="Go to {{./url}}"></span></a>
      <a href="javascript:void(0)" data-on-click="toggleRead" data-id="{{./id}}" data-feed-id="{{../id}}">
      {{#if ./readIcon}}
        <span class="glyphicon glyphicon-{{./readIcon}} glyph-sm" data-toggle="tooltip" data-title="Set {{./read}}"></span>
      {{else}}
        <span class="glyphicon glyphicon-ok-circle glyph-sm" data-toggle="tooltip" data-title="Set read"></span>
      {{/if}}
      </a>
      </h3>
    </div>
    <div class="feed-content panel-body">
      <div class="muted">
        <em>by {{./author}}</em>
        <div class="pull-right">
          <abbr class="timeago" title="{{./published_iso8601}}">{{./published_str}}</abbr>
        </div>
      </div>
      {{{./summary}}}
    </div>
  </div>
{{/each}}
