<h1><a href="{{url}}">{{title}}</a></h1>
{{#each newsitems}}
  <div class="panel panel-default widget widget-transparent feed">
    <div class="panel-heading">
      <h3>
      <a href="{{./path}}">{{./title}}</a>
      <a href="{{./url}}" target="_blank"><span class="glyphicon glyphicon-new-window glyph-sm"></span></a>
      <a href="javascript:void(0)" data-on-click="toggleRead" data-id="{{./id}}" data-feed-id="{{../id}}">
        <span class="glyphicon glyphicon-{{./readIcon}} glyph-sm" data-toggle="tooltip" data-title="Set {{./read}}"></span>
      </a>
      </h3>
    </div>
    <div class="feed-content panel-body">
      <div class="muted">
        <em>by {{./author}}</em>
        <div class="pull-right">
          <abbr class="timeago" title="{{./published_iso8601}}">{{./published_str}}</abbr>
        </div>
      </div>
      {{{./summary}}}
    </div>
  </div>
{{/each}}

<ul class="pager">
  <li class="previous">{{{prevPage}}}</li>
  <li class="next">{{{nextPage}}}</li>
</ul>

