<div class="sidebar-nav-fixed widget-transparent">
  <div id="subscribe_form">
    <%= render 'subscribe' %>
  </div>

<ul class="nav nav-list" id="latest_entries">
    <li class="nav-header breadcrumbs" data-template="breadcrumbs">
    </li>
</ul>
<div class="nav-container" data-template="navigation" template="navigation">
</div>
<%= render 'nav_buttons' %>
</div>

<% content_for :embedded_javascript do %>
(function () {
  var
    csrfTag = document.querySelector('meta[name=csrf-token]').getAttribute('content');
    Navigation = require('shreds/stores/navigation'),
    Assets = require('shreds/stores/assets'),
    Subscription = require('shreds/stores/subscription');
  Navigation.preload(<%= raw render('navigation_data') %>);
  Assets.preload({
    spinner16x16: '<%= image_path("spinner.16x16.gif") %>'
  });
  Subscription.preload({
    collapsed: false,
    authToken: csrfTag,
    feedURL: '',
    categoryName: '',
    logoImage: '<%= image_path("shreds.png") %>'
  });
})();
<% end %>
