<div class="sidebar-nav-fixed well widget-transparent">
  <%= render 'subscribe' %>
<div class="nav-container">
  <ul class="nav nav-list">
    <li class="nav-header">
    <span><span class="glyphicon glyphicon-th-list"></span> <%= link_to '/' do %><strong>Latest Entries</strong><% end %></span>
    </li>
    <% @categories.each do |cat| %>
      <li class="nav-header"><span><strong><%= cat.name.camelize %></strong>
        <div class="dropdown pull-right">
        <a class="dropdown-toggle" id="catDD<%= cat.id %>" href="#" role="button" data-toggle="dropdown">
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu" aria-labelledby="catDD<%= cat.id %>">
          <li><%= link_to "Mark as read", "#" %></li>
          <li><%= link_to "Refresh feeds", "#" %></li>
          <% unless cat.name == Category.default %>
            <li><%= link_to "Remove category", "#", :'data-id' => cat.id, :class => "rm-cat" %></li>
          <% end %>
        </ul>
      </div>
      </span>
      </li>
      <ul class="nav-list feed-items" style="list-style-type: disc;">
        <%= render 'feeds_title', feeds: cat.feeds %>
      </ul>
    <% end %>
  </ul>
</div>
</div>
