<%= simple_form_for(@new_feed, html: { :class => "form-inline" }) do |f| %>
  <% content_for :inline_notification do %>
    <% @new_feed.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <div id="subscribeInput" style="display:none;">
  <%= f.input_field :url, class: "form-control", placeholder: "Paste RSS link here" %>
  <%= simple_fields_for @category do |c| %>
    <%= c.input_field :name, class: "form-control", placeholder: "Category (optional)" %>
  <% end %>
</div>
<%= link_to image_tag("shreds.png", :id => "main-logo", :class =>"left floated main-logo", :height => "38", :alt => "Logo"), '/' %>
  <div class="right floated ui buttons">
  <%= button_tag(type: 'submit', class: "ui blue button", id: "btnSubmitFeed", 'data-on-click' => "subscribeTo") do %>
     <span class="ladda-label">Subscribe</span>
   <% end %><button class="ui teal button" type="button" data-on-click="uploadOPML"><span class="ladda-label">Import</span></button>
   </div>
<input id="fileupload" type="file" name="OPMLfile" data-url="/i/upload_opml.json">
<% end %>
