<div id="subscribe_form">
<%= simple_form_for(@new_feed, html: { :class => "form-inline" }) do |f| %>
  <% content_for :inline_notification do %>
    <% @new_feed.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <div id="subscribeInput" style="display:none;">
  <%= f.input_field :url, label: false, class: "form-control", placeholder: "Paste RSS link here" %>
  <%= simple_fields_for @category do |c| %>
    <%= c.input_field :name, label: false, class: "form-control", placeholder: "Category (optional)" %>
  <% end %>
  </div>
  <%= button_tag(type: 'submit', class: "btn btn-primary ladda-button", id: "btnSubmitFeed", 'data-style' => "zoom-out", 'data-on-click' => "subscribeTo") do %>
     <span class="ladda-label">Subscribe</span>
   <% end %> or <span class="fileupload-area"><button class="btn btn-default fileinput-button ladda-button" type="button" data-on-click="uploadOPML" data-style="zoom-out" data-spinner-color="black"><span class="ladda-label">Import</span></button><input id="fileupload" type="file" name="OPMLfile" data-url="/i/upload_opml.json"></span>
<% end %>
</div>
