<%= simple_form_for(@new_feed, html: { :class => "form-inline" }) do |f| %>
  <% content_for :inline_notification do %>
    <% @new_feed.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>
  <div id="subscribeInput">
  <%= f.input_field :url, label: false, class: "form-control", placeholder: "Paste RSS link here" %>
  <%= simple_fields_for @category do |c| %>
    <%= c.input_field :name, label: false, class: "form-control", placeholder: "Category (optional)" %>
  <% end %>
  </div>
  <%= f.submit 'Subscribe', class: "btn btn-primary", id: "btnSubmitFeed" %> or <%= link_to 'Import', '#', class: "btn btn-default", id: "btnImportOPML" %>
<% end %>
