<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row" data-on-mouseover="amOut" data-on-mousedown="needSlideUp">
    <%= render 'navigation_hbs' %>
    <div class="span-fixed-sidebar">
      <%= render 'head_notification' %>
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
  <%= yield :embedded_javascript %>
</body>
</html>
