<!DOCTYPE html>
<html>
<head>
  <%= render 'meta' %>
  <%= yield :head %>
  <title><%= yield :title %></title>
  <link href='//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" class="row" data-on-mouseover="amOut" data-on-mousedown="needSlideUp">
    <%= render 'navigation_hbs' %>
    <%= render 'head_notification' %>
    <div class="span-fixed-sidebar" data-template="feeds/index">
      <%= yield %>
    </div>
  </div>

  <%= yield :modal_etc %>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" if Rails.env.production? %>
  <%= javascript_include_tag "es6-application" %>

<script type="text/javascript">
  <%= yield :embedded_javascript %>
</script>
</body>
</html>
