<!DOCTYPE html>
<html>
<head>
  <title>Shreds</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="row">
    <%= render 'navigation' %>
    <div class="span9 span-fixed-sidebar">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
