<!DOCTYPE html>
<html>
<head>
  <%= yield :head %>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" class="row" data-on-mouseover="amOut" data-on-mousedown="needSlideUp">
    <%= render 'navigation_hbs' %>
    <%= render 'head_notification' %>
    <div class="span-fixed-sidebar" data-template="feeds/index">
      <%= yield %>
    </div>
  </div>

  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>

<script type="text/javascript">
  <%= yield :embedded_javascript %>
</script>
</body>
</html>
