<!DOCTYPE html>
<html>
<head>
  <%= render 'meta' %>
  <%= yield :head %>
  <title><%= yield :title %></title>
  <link href='//fonts.googleapis.com/css?family=Alegreya:400italic,700italic,400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container" class="ui padded grid">
    <%= render 'navigation_template' %>
    <div id="side-navigator-shadow" class="five wide column computer only"></div>
    <div class="sixteen wide column mobile eleven wide column computer column--take-the-rest-of-space" data-template="main-view">
      <%= yield %>
    </div>
  </div>
  <%= render 'head_notification' %>

  <%= yield :modal_etc %>

  <% if Rails.env.production? %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js" %>
    <%= javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/core-js/1.2.0/core.min.js" %>
  <% end %>
  <%= javascript_include_tag "application" %>

<script type="text/javascript">
  <%= yield :embedded_javascript %>
</script>
</body>
</html>
